.blog-post-card {
  background-color: white;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

/* Image */
.post-img {
  width: 100%;
  display: block;
   border-bottom: 4px solid black;
}

/* Content area */
.post-content {
  padding: 15px 20px;
}

/* Read More button */
.read-more {
  display: inline-block;
  background-color: pink;
  margin: 20px 0;
  border-radius: 15px;
  padding: 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.read-more:hover {
  background-color: yellow;
  cursor: pointer;
}

.post-title {
  margin: 10px;
  color: black;
}

.post-excerpt {
  margin: 10px;
  color: rgb(78, 72, 72);
}
